@{
    ViewBag.Title = "Contact";
}
<!-- Banner -->
<section class="tm-banner">
    <!-- Flexslider -->
    <div class="flexslider flexslider-banner">
        <ul class="slides">
            <li>
                <div class="tm-banner-inner">
                    <h1 class="tm-banner-title">Your <span class="tm-yellow-text">Special</span> Tour</h1>
                    <p class="tm-banner-subtitle">For Upcoming Holidays</p>
                    <a href="#more" class="tm-banner-link">Contact Us</a>
                </div>
                <img src="~/images/banner-3.jpg" alt="Banner 3" />
            </li>
        </ul>
    </div>
</section>

<!-- gray bg -->
<section class="container tm-home-section-1" id="more">
    <div class="row">
        <!-- slider -->
        <div class="flexslider effect2 effect2-contact tm-contact-box-1">
            <div class="contact-text">
                <h2 class="slider-title">Lorem Isum Dolor</h2>
                <h3 class="slider-subtitle">Gravida nibh vel velit auctor aliquet enean sollicitudin lorem quis auctor, nisi elit consequat ipsum</h3>
                <p class="slider-description">
                    Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. <br><br>
                    Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris gestas quam, ut aliquam massa nisi.
                </p>
                <div class="slider-social">
                    <a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
                    <a href="#" class="tm-social-icon"><i class="fa fa-google-plus"></i></a>
                </div>
            </div>
            <div class="contact-text">
                <h2 class="slider-title">Contact Form</h2>
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Full Name</label>
                        <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter Name">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Email address</label>
                        <input type="email" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Phone No</label>
                        <input type="text" class="form-control" placeholder="Phone">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Message</label>
                        <textarea class="form-control"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>
